In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [26]:
data = pd.read_csv('Metro_Interstate_Traffic_Volume.csv')
data.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,day,weather_description,date_time,traffic_volume
0,None,288.28,0.0,0.0,40,Clouds,Tuesday,scattered clouds,02-10-2012 09:00,5545
1,None,289.36,0.0,0.0,75,Clouds,Wednesday,broken clouds,02-10-2012 10:00,4516
2,None,289.58,0.0,0.0,90,Clouds,Thursday,overcast clouds,02-10-2012 11:00,4767
3,None,290.13,0.0,0.0,90,Clouds,Friday,overcast clouds,02-10-2012 12:00,5026
4,None,291.14,0.0,0.0,75,Clouds,Saturday,broken clouds,02-10-2012 13:00,4918

In [27]:
import category_encoders as ce
encoder= ce.OrdinalEncoder(cols=['weather_main'],return_df=True,
                           mapping=[{'col':'weather_main',
'mapping':{'Clouds':0,'Clear':1,'Rain':2,'Drizzle':3,'Mist':4,'Haze':5,'Fog':5,'Thunderstorm':6,'Snow':7,'Squall':8,'Smoke':9}}])

In [28]:
data = encoder.fit_transform(data)

c:\users\dell\appdata\local\programs\python\python39\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [29]:
encoder= ce.OrdinalEncoder(cols=['weather_description'],return_df=True,
                           mapping=[{'col':'weather_description',
'mapping':{'scattered clouds':0, 'broken clouds':1, 'overcast clouds':2,
       'sky is clear':3, 'few clouds':4, 'light rain':5,
       'light intensity drizzle':6, 'mist':7, 'haze':8, 'fog':9,
       'proximity shower rain':10, 'drizzle':11, 'moderate rain':12,
       'heavy intensity rain':13, 'proximity thunderstorm':14,
       'thunderstorm with light rain':15, 'proximity thunderstorm with rain':16,
       'heavy snow':17, 'heavy intensity drizzle':18, 'snow':19,
       'thunderstorm with heavy rain':20, 'freezing rain':21, 'shower snow':22,
       'light rain and snow':23, 'light intensity shower rain':24, 'SQUALLS':25,
       'thunderstorm with rain':26, 'proximity thunderstorm with drizzle':27,
       'thunderstorm':28, 'Sky is Clear':3, 'very heavy rain':29,
       'thunderstorm with light drizzle':30, 'light snow':31,
       'thunderstorm with drizzle':32, 'smoke':33, 'shower drizzle':34,
       'light shower snow':35, 'sleet':36}}])
data = encoder.fit_transform(data)

In [30]:
data.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,day,weather_description,date_time,traffic_volume
0,None,288.28,0.0,0.0,40,0,Tuesday,0,02-10-2012 09:00,5545
1,None,289.36,0.0,0.0,75,0,Wednesday,1,02-10-2012 10:00,4516
2,None,289.58,0.0,0.0,90,0,Thursday,2,02-10-2012 11:00,4767
3,None,290.13,0.0,0.0,90,0,Friday,2,02-10-2012 12:00,5026
4,None,291.14,0.0,0.0,75,0,Saturday,1,02-10-2012 13:00,4918

In [31]:
encoder= ce.OrdinalEncoder(cols=['day'],return_df=True,
                           mapping=[{'col':'day',
'mapping':{'Monday':0,'Tuesday':1,'Wednesday':2,'Thursday':3,'Friday':4,'Saturday':5,'Sunday':6}}])
data = encoder.fit_transform(data)

c:\users\dell\appdata\local\programs\python\python39\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [32]:

data = data.drop(['holiday','rain_1h','snow_1h'], axis = 1)
data.head()

,temp,clouds_all,weather_main,day,weather_description,date_time,traffic_volume
0,288.28,40,0,1,0,02-10-2012 09:00,5545
1,289.36,75,0,2,1,02-10-2012 10:00,4516
2,289.58,90,0,3,2,02-10-2012 11:00,4767
3,290.13,90,0,4,2,02-10-2012 12:00,5026
4,291.14,75,0,5,1,02-10-2012 13:00,4918

In [33]:
dat= pd.to_datetime(data.date_time, format='%d-%m-%Y %H:%M')
type(dat)
dat = dat.to_frame()
dat

                date_time
0     2012-10-02 09:00:00
1     2012-10-02 10:00:00
2     2012-10-02 11:00:00
3     2012-10-02 12:00:00
4     2012-10-02 13:00:00
...                   ...
48199 2018-09-30 19:00:00
48200 2018-09-30 20:00:00
48201 2018-09-30 21:00:00
48202 2018-09-30 22:00:00
48203 2018-09-30 23:00:00

[48204 rows x 1 columns]

In [34]:
dat['year'] = dat['date_time'].dt.year
dat['month'] = dat['date_time'].dt.month
dat['day'] = dat['date_time'].dt.day
dat['hour'] = dat['date_time'].dt.hour

In [35]:
data = data.values
dat=dat.values
a = data[:,0:5]
b = dat[:,1:]
x = np.hstack((b,a))
y = data[:,-1]
print(x.shape,y.shape)

(48204, 9) (48204,)

# case 1

In [52]:
X = x[2559:5000]
Y = y[2559:5000]

In [53]:
from sklearn.ensemble import RandomForestRegressor
rt = RandomForestRegressor(n_estimators = 500, random_state = 0)
rt.fit(X,Y)
print(rt.score(X, Y)*100)

98.40270159144046

In [60]:
x_test = x[5000:5024]
y_test = y[5000:5024]
print(x_test.shape,y_test.shape)
print(rt.score(x_test,y_test)*100)

(24, 9) (24,)
86.83383744412944

# case 2

In [62]:
X = x[2559:6000]
Y = y[2559:6000]

In [63]:
from sklearn.ensemble import RandomForestRegressor
rt = RandomForestRegressor(n_estimators = 500, random_state = 0)
rt.fit(X,Y)
print(rt.score(X, Y)*100)

98.29197560161744

In [66]:
x_test = x[6000:6054]
y_test = y[6000:6054]
print(x_test.shape,y_test.shape)
print(rt.score(x_test,y_test)*100)

(54, 9) (54,)
90.15291491395764

# case 3

In [86]:
X = x[2559:7000]
Y = y[2559:7000]

In [87]:
from sklearn.ensemble import RandomForestRegressor
rt = RandomForestRegressor(n_estimators = 500, random_state = 0)
rt.fit(X,Y)
print(rt.score(X, Y)*100)

98.33577972499093

In [88]:
x_test = x[7000:7100]
y_test = y[7000:7100]
print(x_test.shape,y_test.shape)
print(rt.score(x_test,y_test)*100)

(100, 9) (100,)
73.65023957559941

# case 3 part 2

In [89]:
X = x[3000:7000]
Y = y[3000:7000]

In [90]:
from sklearn.ensemble import RandomForestRegressor
rt = RandomForestRegressor(n_estimators = 500, random_state = 0)
rt.fit(X,Y)
print(rt.score(X, Y)*100)

98.45335523919407

In [91]:
x_test = x[7000:7100]
y_test = y[7000:7100]
print(x_test.shape,y_test.shape)
print(rt.score(x_test,y_test)*100)

(100, 9) (100,)
73.49177191209112